*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
body{
    width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav{
	width: 100%;
	height: 50px;
	background: black;
	opacity: 0.9;
	color: white;
	font-size: 1em;
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 0;
}
.nav a:hover{
    color: red;
}

h1{
	padding-left: 0.5em;
  	text-align: center;
  	font-size: 1.4em;
  	display: inline;
  	padding-right: 0.5em;
  }

.logo{
	width: 30%;
	padding-top: 1em;
	font-weight: bold;
}
.nav {
  overflow: hidden;
  background-color: black;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: white;
  color: black;
}

/* Style the "active" element to highlight the current page */
.nav a.active {
  background-color: black;
  color: white;
}

/* Style the search box inside the navigation bar */
.nav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .nav a, .nav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .nav input[type=text] {
    border: 1px solid #ccc;
  }
}
}
.navbar-items {
	width: 70%;
	text-align: end;
	padding-top: 1em;
}
.nav-item{
	padding-right: 50px;
	color: white;
	text-decoration: none;
}

.menu-items{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 1em;
}
.item-tile{
	margin-right: 1em;
	width: 33%;
	box-shadow: 1px 1px 5px 1px grey;
	display: flex;
	flex-direction: column;
}

.item-img{
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.item-text {
	height: 30px;
	margin-top: -30px;
	padding: 0.5em 0.5em 0 0.5em;
	text-align: center;
	color: #fff;
	background: black;
	opacity: 0.8;
}
h2,p{
    padding-top: 2em;
    text-align: center;
}

.footer{
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: black;
	color: white;
}
.title{
	color:white;
	text-align: center;
	padding-bottom: 0.5em;
}
input{
	padding: 0.5em;
	margin-top: 0.5em;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
