/*h1{
	padding-left: 0.5em;
	text-align: center;
	font-size: 1.4em;
	display: inline;
	padding-right: 0.5em;
}*/
body {
  font-style: Andale Mono, monospace;
  background: white;
  color: black;

}

h1 {
  position: sticky;
  top: 0;
  color: #fc030f;
  text-align: center;
  font-family: Comic Sans MS;
}
h2{
	color: black;
  text-align: left;
}
ul{
	font-size: 2em;
}
div{
	font-size: 1em;
	margin-left: 0px;
	width:1500px;
	display: flex;
	flex-direction: row;
	text-align: center;
}
img{
	width: 100%;
	object-fit: cover;
}

p {
  font-family: verdana;
  font-size: 20px;
  font-style: Comic Sans MS, Comic Sans, cursive;
  
}

